html{
    scroll-behavior: smooth;
}
header {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
        position: absolute;
        top: 85%;
        left: 20px;
        width: 80px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: grab;
    }

    nav .nav-content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .nav-content .toggle-btn,
    .nav-content span a {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .nav-content .toggle-btn {
        z-index: 20;
        color: black;
        cursor: pointer;
        transform: rotate(-225deg);
        transition: all 0.6s ease;
    }

    nav.open .toggle-btn {
        transform: rotate(0deg);
    }

    .nav-content span {
        position: absolute;
        transition: all 0.8s ease;
        opacity: 0;
        transform: rotate(calc(var(--i) * (40deg / 5) + 60deg)) translateX(200px);
        transform-origin: 0 0;
    }

    nav.open .nav-content span {
        opacity: 1;
        transform: rotate(calc(var(--i) * (120deg / 5) - 120deg)) translateX(200px);
    }

    .nav-content span a {
        text-decoration: none;
        transform: rotate(calc(var(--i) * (-120deg / 5) - 240deg));
    }

    .nav-content span a:hover i {
        opacity: 1;
    }

    a img {
        width: 70%;
    }
}

.liste {
    background: rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;

    >div {
        width: 80%;
        p, h1:nth-child(1){
            width: 70%;
        }
        h1:nth-child(1){
            font-size: large;
            font-weight: bold;
            padding-bottom: 10px;
        }
        >div {
            display: flex;
            justify-content: space-between;
        }
    }
}